<section id="schedule">
    <div class="container">
        <h2>Appointment Schedule</h2>
        <div style="background: linear-gradient(135deg, var(--primary), var(--accent)); padding: 2rem;
border-radius: 10px;">
<div class="flex justify-center"><iframe src="https://app.acuityscheduling.com/schedule.php?owner=11184580" title="Schedule Appointment" class="w-[95%] sm:w-[80%] aspect-video"></iframe>
    <script is:inline src="https://embed.acuityscheduling.com/js/embed.js" type="text/javascript"></script>      
      </div>
    </div>
</section>
 
