---
import type { ImageMetadata } from 'astro'
interface NewsItem {
    frontmatter: {
        title: string,
        date: Date,
        author: string,
        coverimg: ImageMetadata,
        coveralt: string,
    };
    url: string;
}
const items: NewsItem[] = Object.values(import.meta.glob<NewsItem>('./*.md', {eager: true})).sort((a: NewsItem, b: NewsItem) => {
  const dateA = new Date(b.frontmatter.date);
  const dateB = new Date(a.frontmatter.date);
  return dateA.getTime() - dateB.getTime();
});
---
<h1>Chattanooga Center News and Events</h1>
<ul>
    {items.map(i => <li><a href={i.url}>{i.frontmatter.title}</a> :: Date:  {i.frontmatter.date}</li>)}
</ul>
